@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
    --gold:#F4BD76;
    --gold1:#F6CD8F;
    --gray:#ffffff80;
    --gray1:#f7d9d990;
    --black:#1A1B1F;
    --black1:#30353B;
    --shadow: 0 8px 8px;
    --color-shadow:#00000033;

}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black1) 0%, var(--black) 100%);
}

.nav_hero {
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo_name { 
    font-size: 24px;
}

.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active {
    color: #ff0080;
    font-weight: 700;
}

.point {
    color:#ff0080;
}

.hero_main {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0%;
}

.mockup {
    object-fit: cover;
    height: calc(100vh - 70px);
}

.title {
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}

.title_active{
    color: #ff0080;
    font-weight: 700;

}

.copy {
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy_active {
    font-weight: 700;
}

.cta {
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7CE90 0%, #F48D76 100%);
    text-decoration: none;
    color: var(--black1);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
    
}

.peers {
    background: #fafafa;
}

.subtitles {
    font-size: 42px;
}

.subtitles_features {
    font-size: 42px;
    color: whitesmoke;
}

.subtitles--modifier {
    text-align: center;
    margin-bottom: 16px;
}

.copy_section {
    color: var(--black1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.subtitle_section {
    /* color: var(--black1); */
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}

.copy_section--modifier {
    text-align: center;
    margin-bottom: 32px;
}

.container_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black1) 0%, var(--black) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color-shadow);
}

.card_img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.card_text {
    width: 90%;
    margin-left: auto;
    padding-right: 25px;
}

.card_list {
    color: var(--gold1);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 17px;
}

.card_tittle {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}

.card_copy {
    color: var(--gray1);
    margin-bottom: 16px;
}

.card_button {
    display: block;
    background: linear-gradient(180deg, #f7CE90 0%, #F48D76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.Description {
    background: linear-gradient(180deg, var(--black1) 0%, var(--black) 100%);
    position: relative;
}

.subtitles_d {
    font-size: 42px;
    text-align: center;
    color: #fafafa;
}

.copy_section1 {
    color: var(--gray1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
}

.socialmedia__icon {
    font-size: 40px;
    margin-right: 30px;
    display: inline-block;
    color: #fff;
}

.socialmedia__icon1 {
    font-size: 40px;
    padding: 0 48%;
    color: white;
}

p {
    text-align: justify;
}

.container_features {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
    height: auto;
}

.container_description {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 80px 20px 0 0;
    height: auto;
}

.copy_section_team {
    color: var(--black1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 30px;
}